#calls {
  height: 100% !important;

  i {
    color: white;
  }



  .form-group {
    height: 38px;
  }


}


.inputs {
  background-color: #1B1464;
  height: 100% !important;
}

.labels {
  background-color: #b6b6b6;
  height: 100% !important;
}

.calls {
  background-color: #1B1464;
  height: 100% !important;
}

label {
  color: white;
  font-family: 'montserrat';
  font-size: 0.8rem;
}

.border {
  background-color: #110c41;
  padding: 20px;
  border: 1px solid white;
}
