<div id="main">
  <div class="container-fluid">
    <div class="row expand">
      <div class="col-4 main-log">
        <div class="row">
          <div class="col offset-2">
            <h3 class="form-title">Leadser</h3>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-8 ">
            <form >
              <div class="row flex-column ">
                <div class="col">
                  <h1 class="form-second-title">Welcome</h1>
                </div>
                <div class="col form-item">
                  <input type="email" placeholder="Email" class="mail form-control" >
                </div>
                <div class="col form-item">
                  <input [type]="!show ? 'password' : 'text'" placeholder="Password" class="pass form-control">
                  <i class="far icon" [ngClass]="!show ? 'fa-eye-slash' : ' fa-eye '" (click)="showPassword()" ></i>
                </div>
                <div class="col form-item">
                  <div class="row">
                    <div class="col form-remember">
                      <input type="checkbox" class="remember-check">
                      <p class="remember-text">Remember me</p>
                    </div>
                    <div class="col form-remember">
                      <a href="URI" class="forgot">Forgot password?</a>
                    </div>
                  </div>
                </div>
                <div class="col form-button">
                  <button type="button">Login</button>
                </div>
                <div class="col form-signup">
                      <p>Don't have an acount?</p>
                      <a href="URI" class="ml-2">Sign up</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col back-log"></div>
    </div>
  </div>
</div>
<!--

<i class="far fa-eye icon" (click)="showPassword()" *ngIf="show"></i> -->
