
 @font-face {
  font-family: montserrat;
  src: url('../../assets/fonts/MontserratAlternates-ExtraBold.ttf');
}


#main{

  .container-fluid{
    height: 100vh;
    .expand{
      height: 100%;

      .main-log{
        background: #282672;
        .form-title{
          padding: 20px;
          font-family: montserrat;
          color: white;
        }

        .form-group{
          justify-content: center;
          margin-top: 120px;

          .form-second-title{
            margin: 20px;
            font-family: montserrat;
            color: white;
            text-align: center;
          }
          .mail{
            width: 444px;
            height: 64px;
            border: 1px solid #21DAD7;
            border-radius: 13px;
            margin: 10px 0px;
          }
          .pass{
            width: 444px;
            height: 64px;
            border: 1px solid #21DAD7;
            border-radius: 13px;
            margin: 10px 0px;
          }

          .form-remember{
            display: inline-flex;
            .remember{
              width: 24px;
              height: 24px;
              margin: 10px ;
            }
          }
          .form-button{
            text-align: center;
            margin: 30px 0px;
          }
          .form-sign{
            margin: 10px 0px;
          }
        }
      }
      .back-log{
        background: #1B1464;
      }
      p{
        font-family: montserrat;
        color: white;
        margin: 10px 0px;
      }
      a{
        font-family: montserrat;
        color: white;
        text-align: center;
        margin: 10px 0px;
      }
      button{
        width: 239px;
        height: 71px;
        box-shadow: 0px 8px 25px #16114B;
        border-radius: 23px;
        background: #21DAD7;
        font-family: montserrat;
        color:  #1B1464;
        font-size: 30px;
      }





    }


 }
}
