<div id="main">
  <div class="container-fluid">
    <div class="row expand">
      <div class="col-6 main-log">
        <div class="row">
          <div class="col offset-2">
            <h3 class="form-title">Leadser</h3>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-8 ">
            <form >
              <div class="row flex-column ">
                <div class="col">
                  <h1 class="form-second-title">Welcome</h1>
                </div>
                <div class="col">
                  <input type="text" placeholder="Email" class="mail form-control" >
                </div>
                <div class="col">
                  <input type="text" placeholder="Password" class="pass form-control">
                </div>
                <div class="col">
                  <div class="row">
                    <div class="col form-remember">
                      <input type="checkbox" class="remember">
                      <p class="rememberText">Remember me</p>
                    </div>
                    <div class="col form-remember">
                      <a href="URI" class="forgot">Forgot password?</a>
                    </div>
                  </div>
                </div>
                <div class="col form-button">
                  <button type="button">Login</button>
                </div>
                <div class="col">
                  <div class="row">
                    <div class="col">
                      <p>Don't have an acount?</p>
                    </div>
                    <div class="col">
                      <a href="URI" class="form-sign">Sign up</a>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col back-log"></div>
    </div>
  </div>
</div>
