<div class="pies-container">
  <!-- we can set a lot of atributes -->
  <dx-pie-chart class="pie" sizeGroup="piesGroup" [dataSource]="data" [animation]="false"
    resolveLabelOverlapping="shift" type="doughnut" centerTemplate="centerTemplate" [innerRadius]="0.65">
    <dxi-series argumentField="type" valueField="data">
      <dxo-label backgroundColor="none" [visible]="true" format="fixedPoint" [customizeText]="customizeLabel">
        <dxo-connector [visible]="true"></dxo-connector>
      </dxo-label>
    </dxi-series>
    <!-- make visible legend -->
    <dxo-legend [visible]="false">
    </dxo-legend>
    <svg *dxTemplate="let pieChart of 'centerTemplate'">
      <!-- select radius of pie-chart -->
      <circle cx="100" cy="100" [attr.r]="pieChart.getInnerRadius()-6" fill="#E7ECF0"></circle>
      <!-- add image to background -->
      <image attr.href="{{getImagePath()}}" x="70" y="58" width="60" height="40" />
      <text text-anchor="middle" style="font-size: 18px" x="100" y="120" fill="#494949">
        <tspan x="100">{{concept}}</tspan>
      </text>
    </svg>
  </dx-pie-chart>
</div>
