#formation {

  height: 100% !important;

  .items {
    background-color: #b6b6b6;
    height: 100% !important;
  }

  .videos {
    background-color: #1B1464;
    height: 100% !important;
  }


  label {
    color: white;
    font-family: 'montserrat';
    font-size: 0.9rem;
  }

}
